
.menu__wrapper {
	position: relative;
	z-index: 10;
}



.menu__links {
	top: 0;
	display: flex;
	max-width: 324px;
	gap: 40px;
}

.menu__link{
	a {
		font-size: 12px;
		line-height: 17px;
		color: #000000
	}
}

.menu__img_logo {
	position: absolute;
	z-index: 10;
}

.menu__img_logo {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}